POSTGRES_USER=postgres
POSTGRES_PASSWORD=gerar-com-openssl-rand-hex-24
JWT_SECRET=gerar-com-openssl-rand-hex-48
ADMIN_API_KEY=gerar-com-openssl-rand-hex-32
AUTH_DISABLED=false
MEM0_TELEMETRY=false
MEM0_LLM_MAX_TOKENS=4096
MEM0_SKIP_INFER_AGENTS=hermes
